.homepage-main {
  background-color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0, 0.25)), url('../images/strongisbeautiful3.jpg');
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;

}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
