.personal-training-main {
  background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url('../images/cyril.jpg');
  background: no-repeat center center cover;
}

.pt-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  letter-spacing: 2.5px;
  font-family: 'Nunito Sans', sans-serif;
  color: #f2f2f2;
}
