.contact-page-main {
  background-color: #7EC9B8;
}

.contact-page {
  padding: 30px;
  height: 62vh;
  margin-bottom: 70px;
}

.contact-title {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2.5px;
  font-family: 'Nunito Sans', sans-serif;
  color: #f2f2f2;
}

.contact-box {
  background-color: #182628;
  height: auto;
  padding: 40px;
  border-radius: 50px;
}

.contact-text {
  color: #f2f2f2;
}

.contact-message {
  width: 100%;
}
