.testimonial-page {
  /* background-color: #7EC9B8; */
  background-image: linear-gradient(rgba(0,0,0, 0.15), rgba(0,0,0, 0.1)), url('../images/cactus.jpg');
  background-size: 1800px 1900px;
  background: no-repeat center center cover;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2.5px;
  font-family: 'Nunito Sans', sans-serif;
  color: #f2f2f2;
}

.main-test-box {
  /* background: linear-gradient(#182628, #65ccb8, #182628); */
  background-color: rgba(27,38,40, 0.6);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.main-image {
  border-radius: 5px;
  width: 300px;
  height: auto;
  margin-left: 50px;
}

.main-test {
  margin-top: 50px;
  margin-right: 30px;
  color: #fefefe;
}

.secondary-test {
  margin-top: 20px;
}

.sub-testimonials {
  box-shadow: -5px 5px 20px #182628;
  border-radius: 30px;
  border: 2px solid #182628;
  background-color: rgba(27,38,40, 0.8);
}

.sub-testimonials img {
  padding: 20px;
  border-radius: 30px;
}

.testimonials-name {
  font-size: 15px;
  color: #fefefe;
  padding: 10px;
}

.test-image {
  margin-left: 30px;
  height: auto;
  width: 270px;
}
